.bannerCtn {
  font-family: "Luckiest Guy", sans-serif;
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 9999;
}

.banner {
  background: black;
  padding: 30px 10px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.bannerTitle {
  font-size: 2rem;
  color: #09c;
  padding-top: 0;
}

.score {
  font-family: sans-serif;
  color: limegreen;
  font-weight: 600;
}

.scoreMsg {
  font-family: sans-serif !important;
  margin: 3px 0;
}
